<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="addItem()">Add Item</ion-button>

  <ion-list *ngIf="users.length>1">
    <ion-item *ngFor="let item of users">
      <ion-label>
        <h2>{{ item.full_name }}</h2>
        <p>{{ item.mobile_no }}</p>
      </ion-label>
      <ion-button (click)="updateItem(item.id)">Update</ion-button>
      <ion-button (click)="deleteItem(item.id)">Delete</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
<!-- <ion-content>
  <app-video-call></app-video-call>
</ion-content> -->